## About Pandas

Pandas is one of the most popular tools for data wrangling, preparation, analysis and modelling. It allows python developers to work on various data sources including delimited files, html pages(requires the presence of table tags), json, hdf5 files, sql data from databases etc. This makes it a very versatile tool to working with data.Pandas also offers apis to manipulate data such as filtering, indexing, grouping by and aggregate functions such as mean, standard deviation, kurtosis, etc. It also allows manipulation of data using regular and lambda functions. SQL-like functions make it possible to perform cartesian joins using functions like `join` and `merge`. For data cleaning operations, offers functions for checking for nulls, handling nulls, dropping rows and columns.

## Basic Info

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "movie_data.txt", 
    delimiter = "\t", 
    names = ["ID","title","year",
             "rating","votes",
             "duration","genres"],
    index_col=0)

# Printing first 5 elements

df.head()

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [3]:
# Printing last 11 elements
df.tail(11)

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [4]:
# Printing data info
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null float64
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

## Cleaning

### Removing missing rows

In [5]:
df = df.dropna(axis = 1)
print(df.columns)

Index(['title', 'year', 'rating', 'votes', 'duration'], dtype='object')

### Converting duration of column to numerical representation in seconds

In [6]:
df.duration = df.duration.apply(lambda dur:int(dur.split(" ")[0])*60)
df.head()

                                     title  year  rating   votes  duration
ID
tt0111161  The Shawshank Redemption (1994)  1994     9.2  619479      8520
tt0110912              Pulp Fiction (1994)  1994     9.0  490065      9240
tt0137523                Fight Club (1999)  1999     8.8  458173      8340
tt0133093                The Matrix (1999)  1999     8.7  448114      8160
tt1375666                 Inception (2010)  2010     8.9  385149      8880

### Removing year from the title column

In [7]:
df.title = df.title.apply(lambda title: title.split("(")[0])
print(df.columns)
df.head()

Index(['title', 'year', 'rating', 'votes', 'duration'], dtype='object')

                               title  year  rating   votes  duration
ID
tt0111161  The Shawshank Redemption   1994     9.2  619479      8520
tt0110912              Pulp Fiction   1994     9.0  490065      9240
tt0137523                Fight Club   1999     8.8  458173      8340
tt0133093                The Matrix   1999     8.7  448114      8160
tt1375666                 Inception   2010     8.9  385149      8880

## Concatenating

1. Read `crew_data.tsv.gz` to DataFrame named `movie_crew_df` with columns `ID, director_ids` indexed by `ID` (forget the rest of the columns)
2. Read `person_data.tsv.gz` to DataFrame named `person_df` with columns `person_ID, name` indexed by `person_ID` (forget the rest of the columns)
3. Merge `movie_crew_df` into `df` with `ID`s and drop the columns without necessary data (hint `outer`-join)
4. Remove movies with more than one director and rename `director_ids` => `director_id`
5. Merge `df` with `person_df` on `director_id`, remove `director_id` and `person_ID` columns, rename `name` => `director`

### loading movie crew data

In [8]:
movie_crew_df = pd.read_csv('crew_data (1).tsv.gz', header=0, delimiter = '\t', usecols=(0,1) , names=['ID','director_ids'])
movie_crew_df.head()

          ID director_ids
0  tt0000001    nm0005690
1  tt0000002    nm0721526
2  tt0000003    nm0721526
3  tt0000004    nm0721526
4  tt0000005    nm0005690

### loading person name data

In [9]:
person_df = pd.read_csv('name_data (2).tsv.gz', header = 0, delimiter = '\t', usecols= (0,1) , names=['person_ID','name'])
person_df.head()

   person_ID             name
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

### Merge movie crew data with movie data

In [10]:
df = pd.merge(df, movie_crew_df, on ="ID", how='outer')
df = df.dropna()
df.head()

,ID,title,year,rating,votes,duration,director_ids
0,tt0111161,The Shawshank Redemption,1994.0,9.2,619479.0,8520.0,nm0001104
1,tt0110912,Pulp Fiction,1994.0,9.0,490065.0,9240.0,nm0000233
2,tt0137523,Fight Club,1999.0,8.8,458173.0,8340.0,nm0000399
3,tt0133093,The Matrix,1999.0,8.7,448114.0,8160.0,"nm0905154,nm0905152"
4,tt1375666,Inception,2010.0,8.9,385149.0,8880.0,nm0634240

### dealing with multiple directors

In [11]:
df = df[df['director_ids'].str.contains(",")==False]
df.rename(columns={'director_ids':'director_id'},inplace=True)
df.head()

,ID,title,year,rating,votes,duration,director_id
0,tt0111161,The Shawshank Redemption,1994.0,9.2,619479.0,8520.0,nm0001104
1,tt0110912,Pulp Fiction,1994.0,9.0,490065.0,9240.0,nm0000233
2,tt0137523,Fight Club,1999.0,8.8,458173.0,8340.0,nm0000399
4,tt1375666,Inception,2010.0,8.9,385149.0,8880.0,nm0634240
5,tt0109830,Forrest Gump,1994.0,8.7,368994.0,8520.0,nm0000709

### merging person data and movie data

In [12]:
df = pd.merge(df, person_df, left_on ="director_id", right_on='person_ID', how='inner')
df.head()

,ID,title,year,rating,votes,duration,director_id,person_ID,name
0,tt0111161,The Shawshank Redemption,1994.0,9.2,619479.0,8520.0,nm0001104,nm0001104,Frank Darabont
1,tt0120689,The Green Mile,1999.0,8.4,243660.0,11340.0,nm0001104,nm0001104,Frank Darabont
2,tt0884328,The Mist,2007.0,7.4,90987.0,7560.0,nm0001104,nm0001104,Frank Darabont
3,tt0268995,The Majestic,2001.0,6.8,27241.0,9120.0,nm0001104,nm0001104,Frank Darabont
4,tt0110912,Pulp Fiction,1994.0,9.0,490065.0,9240.0,nm0000233,nm0000233,Quentin Tarantino

In [13]:
df.rename(columns={'name':'director'},inplace=True)

In [14]:
df.head()

,ID,title,year,rating,votes,duration,director_id,person_ID,director
0,tt0111161,The Shawshank Redemption,1994.0,9.2,619479.0,8520.0,nm0001104,nm0001104,Frank Darabont
1,tt0120689,The Green Mile,1999.0,8.4,243660.0,11340.0,nm0001104,nm0001104,Frank Darabont
2,tt0884328,The Mist,2007.0,7.4,90987.0,7560.0,nm0001104,nm0001104,Frank Darabont
3,tt0268995,The Majestic,2001.0,6.8,27241.0,9120.0,nm0001104,nm0001104,Frank Darabont
4,tt0110912,Pulp Fiction,1994.0,9.0,490065.0,9240.0,nm0000233,nm0000233,Quentin Tarantino

Extra clean up

In [15]:
df = df.drop(columns=["person_ID"])
df.head()

,ID,title,year,rating,votes,duration,director_id,director
0,tt0111161,The Shawshank Redemption,1994.0,9.2,619479.0,8520.0,nm0001104,Frank Darabont
1,tt0120689,The Green Mile,1999.0,8.4,243660.0,11340.0,nm0001104,Frank Darabont
2,tt0884328,The Mist,2007.0,7.4,90987.0,7560.0,nm0001104,Frank Darabont
3,tt0268995,The Majestic,2001.0,6.8,27241.0,9120.0,nm0001104,Frank Darabont
4,tt0110912,Pulp Fiction,1994.0,9.0,490065.0,9240.0,nm0000233,Quentin Tarantino

## Exploration

1. Find ten most longest movies
2. Find Best rated movies ordered by rating DESC and Title ASC
3. What is the average duration (in minutes) of a movie?
4. Get ten most productive directors
5. How many movie has been made in the 2000's?
6. Get all the movies directed by Akira Kurosawa ordered by year DESC

### ten longest movies

In [16]:
df = df.sort_values('duration', ascending = False)
df.head(10)

,ID,title,year,rating,votes,duration,director_id,director
8060,tt0111341,Satantango,1994.0,8.5,2698.0,27000.0,nm0850601,Béla Tarr
7959,tt0063794,War and Peace,1967.0,7.8,2833.0,25620.0,nm0094083,Sergey Bondarchuk
5230,tt0107007,Gettysburg,1993.0,7.7,12093.0,15660.0,nm0561813,Ron Maxwell
1941,tt0116477,Hamlet,1996.0,7.7,19698.0,14520.0,nm0000110,Kenneth Branagh
6246,tt1128075,Love Exposure,2008.0,8.0,1922.0,14220.0,nm0814469,Sion Sono
8132,tt0101428,La Belle Noiseuse,1991.0,7.6,2621.0,14160.0,nm0729626,Jacques Rivette
6126,tt0068883,Ludwig,1972.0,7.6,1581.0,14100.0,nm0899581,Luchino Visconti
341,tt0087843,Once Upon a Time in America,1984.0,8.4,85533.0,13740.0,nm0001466,Sergio Leone
4881,tt0169102,Lagaan: Once Upon a Time in India,2001.0,8.1,14190.0,13440.0,nm0332950,Ashutosh Gowariker
3956,tt0049833,The Ten Commandments,1956.0,7.9,22789.0,13200.0,nm0001124,Cecil B. DeMille

### best rated movies

In [17]:
df = df.sort_values(by=['rating','title'], ascending=[False,True])
df.head()

,ID,title,year,rating,votes,duration,director_id,director
145,tt0068646,The Godfather,1972.0,9.2,474189.0,10500.0,nm0000338,Francis Ford Coppola
0,tt0111161,The Shawshank Redemption,1994.0,9.2,619479.0,8520.0,nm0001104,Frank Darabont
5636,tt0252487,Outrageous Class,1975.0,9.0,9823.0,5220.0,nm0251027,Ertem Egilmez
4,tt0110912,Pulp Fiction,1994.0,9.0,490065.0,9240.0,nm0000233,Quentin Tarantino
146,tt0071562,The Godfather: Part II,1974.0,9.0,291169.0,12000.0,nm0000338,Francis Ford Coppola

### Average duration of movie

In [18]:
df['duration'].mean()/60

104.04910052910053

### 10 most productive directors

In [19]:
print(df.nlargest(10,'votes'))

            ID                                              title    year  \
0    tt0111161                          The Shawshank Redemption   1994.0
21   tt0468569                                   The Dark Knight   2008.0
4    tt0110912                                      Pulp Fiction   1994.0
145  tt0068646                                     The Godfather   1972.0
10   tt0137523                                        Fight Club   1999.0
164  tt0120737  The Lord of the Rings: The Fellowship of the R...  2001.0
165  tt0167260     The Lord of the Rings: The Return of the King   2003.0
18   tt1375666                                         Inception   2010.0
166  tt0167261             The Lord of the Rings: The Two Towers   2002.0
25   tt0109830                                      Forrest Gump   1994.0

     rating     votes  duration director_id              director
0       9.2  619479.0    8520.0   nm0001104        Frank Darabont
21      8.9  555122.0    9120.0   nm0634240     Christopher Nolan
4       9.0  490065.0    9240.0   nm0000233     Quentin Tarantino
145     9.2  474189.0   10500.0   nm0000338  Francis Ford Coppola
10      8.8  458173.0    8340.0   nm0000399         David Fincher
164     8.8  451263.0   10680.0   nm0001392         Peter Jackson
165     8.8  428791.0   12060.0   nm0001392         Peter Jackson
18      8.9  385149.0    8880.0   nm0634240     Christopher Nolan
166     8.7  383113.0   10740.0   nm0001392         Peter Jackson
25      8.7  368994.0    8520.0   nm0000709       Robert Zemeckis

### movies in 2000s

In [20]:
df[df['year'] > 2000]

,ID,title,year,rating,votes,duration,director_id,director
18,tt1375666,Inception,2010.0,8.9,385149.0,8880.0,nm0634240,Christopher Nolan
21,tt0468569,The Dark Knight,2008.0,8.9,555122.0,9120.0,nm0634240,Christopher Nolan
164,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001.0,8.8,451263.0,10680.0,nm0001392,Peter Jackson
165,tt0167260,The Lord of the Rings: The Return of the King,2003.0,8.8,428791.0,12060.0,nm0001392,Peter Jackson
4915,tt0476735,My Father and My Son,2005.0,8.7,14080.0,6480.0,nm1463981,Çagan Irmak
166,tt0167261,The Lord of the Rings: The Two Towers,2002.0,8.7,383113.0,10740.0,nm0001392,Peter Jackson
5211,tt1832382,A Separation,2011.0,8.6,11954.0,7200.0,nm1410815,Asghar Farhadi
553,tt0435761,Toy Story 3,2010.0,8.6,144200.0,6180.0,nm0881279,Lee Unkrich
252,tt0211915,Am\xe9lie,2001.0,8.5,215732.0,7320.0,nm0000466,Jean-Pierre Jeunet
210,tt0338013,Eternal Sunshine of the Spotless Mind,2004.0,8.5,260298.0,6480.0,nm0327273,Michel Gondry
810,tt1201607,Harry Potter and the Deathly Hallows: Part 2,2011.0,8.5,60422.0,7800.0,nm0946734,David Yates
109,tt0407887,The Departed,2006.0,8.5,315448.0,9060.0,nm0000217,Martin Scorsese
1271,tt0405094,The Lives of Others,2006.0,8.5,92399.0,8220.0,nm0003697,Florian Henckel von Donnersmarck
479,tt0253474,The Pianist,2002.0,8.5,162990.0,9000.0,nm0000591,Roman Polanski
144,tt0910970,WALL\xb7E,2008.0,8.5,229364.0,5880.0,nm0004056,Andrew Stanton
1092,tt0363163,Downfall,2004.0,8.4,98859.0,9360.0,nm0386570,Oliver Hirschbiegel
3633,tt1555149,Elite Squad 2,2010.0,8.4,9060.0,6900.0,nm0655683,José Padilha
933,tt0364569,Oldboy,2003.0,8.4,119238.0,7200.0,nm0661791,Chan-wook Park
306,tt0457430,Pan's Labyrinth,2006.0,8.4,186080.0,0.0,nm0868219,Guillermo del Toro
20,tt0482571,The Prestige,2006.0,8.4,258396.0,7800.0,nm0634240,Christopher Nolan
19,tt0372784,Batman Begins,2005.0,8.3,316613.0,8400.0,nm0634240,Christopher Nolan
330,tt0947798,Black Swan,2010.0,8.3,150346.0,6480.0,nm0004716,Darren Aronofsky
445,tt1205489,Gran Torino,2008.0,8.3,168721.0,6960.0,nm0000142,Clint Eastwood
996,tt0395169,Hotel Rwanda,2004.0,8.3,109022.0,7260.0,nm0313623,Terry George
3873,tt0306846,"No Pain, No Gain",2005.0,8.3,23111.0,0.0,nm0876988,Samuel Turcotte
6750,tt0314067,Philanthropy,2002.0,8.3,5396.0,6600.0,nm0135952,Nae Caranfil
5719,tt0346336,The Best of Youth,2003.0,8.3,9110.0,10800.0,nm0320285,Marco Tullio Giordana
1018,tt1504320,The King's Speech,2010.0,8.3,101232.0,7080.0,nm0393799,Tom Hooper
3056,tt1305806,The Secret in Their Eyes,2009.0,8.3,33218.0,7740.0,nm0002728,Juan José Campanella
7384,tt1639426,Udaan,2010.0,8.3,3832.0,8040.0,nm0003939,Vikramaditya Motwane
...,...,...,...,...,...,...,...,...
8615,tt0318497,Nine Lives,2002.0,2.3,2043.0,5100.0,nm1171292,Andrew Green
9291,tt0415345,Seven Mummies,2006.0,2.3,1460.0,5400.0,nm1516023,Nick Quested
8264,tt0756703,Feel the Noise,2007.0,2.2,2459.0,5160.0,nm1145057,Alejandro Chomski
9082,tt0395669,Miss Castaway and the Island Girls,2004.0,2.2,1616.0,5400.0,nm0831546,Bryan Michael Stoller
5086,tt1343704,Time You Change,2010.0,2.2,2944.0,5640.0,nm0248942,Uli Edel
7777,tt0315775,Anne B. Real,2003.0,2.1,3036.0,0.0,nm0289824,Lisa France
9009,tt0426550,Popstar,2005.0,2.1,1687.0,0.0,nm0299923,Richard Gabai
9437,tt1316037,Birdemic: Shock and Terror,2008.0,2.0,1366.0,5400.0,nm1343100,James Nguyen
4859,tt0118589,Glitter,2001.0,2.0,14391.0,6240.0,nm0193554,Vondie Curtis-Hall
3481,tt0317676,House of the Dead,2003.0,2.0,23103.0,5400.0,nm0093051,Uwe Boll
4162,tt0362165,Son of the Mask,2005.0,2.0,18454.0,5640.0,nm0349183,Lawrence Guterman
7517,tt0456014,Surf School,2006.0,2.0,3561.0,0.0,nm0798926,Joel Silverman
7240,tt0470833,Keloglan vs. the Black Prince,2006.0,1.9,4117.0,0.0,nm1000987,Tayfun Güneyer
8720,tt0451109,The Maize: The Movie,2004.0,1.9,1939.0,6000.0,nm1845037,Bill Cowell
6084,tt0473024,Crossover,2006.0,1.8,7577.0,5700.0,nm0926211,Preston A. Whitmore II
6864,tt0382028,Fat Slags,2004.0,1.8,1927.0,4500.0,nm0125753,Ed Bye
8538,tt0958824,The Apocalypse,2007.0,1.8,2127.0,5640.0,nm1578111,Justin Jones
3740,tt0804492,The Hottie & the Nottie,2008.0,1.8,24021.0,5460.0,nm0701245,Tom Putnam
6341,tt0808240,Turks in Space,2006.0,1.8,6370.0,6600.0,nm0862605,Kartal Tibet
5280,tt0785077,Who's Your Caddy?,2007.0,1.8,11821.0,5580.0,nm0666806,Don Michael Paul
3165,tt0339034,From Justin to Kelly,2003.0,1.7,18107.0,4860.0,nm0410769,Robert Iscove
7346,tt0343788,The Hillz,2004.0,1.7,3915.0,5460.0,nm1288474,Saran Barnun
8596,tt0469849,Too Beautiful,2005.0,1.7,2055.0,5820.0,nm0320306,Ugo Fabrizio Giordani
5926,tt0469999,Zodiac Killer,2005.0,1.7,2255.0,4980.0,nm0518579,Ulli Lommel
7874,tt0473310,Ram Gopal Varma's Indian Flames,2007.0,1.6,2511.0,0.0,nm0890060,Ram Gopal Varma
5925,tt0463392,Zombie Nation,2004.0,1.6,4299.0,4860.0,nm0518579,Ulli Lommel
7016,tt0364986,Ben & Arthur,2002.0,1.5,4675.0,5100.0,nm1371524,Sam Mraovich
5924,tt0421051,Daniel the Wizard,2004.0,1.5,8271.0,4860.0,nm0518579,Ulli Lommel
7947,tt1309000,Dream Well,2009.0,1.5,2848.0,0.0,nm0286207,Gábor Forgács
2027,tt0270846,Superbabies: Baby Geniuses 2,2004.0,1.5,13196.0,5280.0,nm0163706,Bob Clark

### all the movies directed by Akira Kurosawa ordered by year DESC

In [21]:
df[df['director'] == 'Akira Kurosawa'].sort_values(by=['year'], ascending=True)

,ID,title,year,rating,votes,duration,director_id,director
854,tt0042876,Rashomon,1950.0,8.4,46250.0,5280.0,nm0000041,Akira Kurosawa
870,tt0043614,The Idiot,1951.0,7.5,1680.0,9960.0,nm0000041,Akira Kurosawa
857,tt0044741,Ikiru,1952.0,8.3,18948.0,8580.0,nm0000041,Akira Kurosawa
853,tt0047478,Seven Samurai,1954.0,8.8,111707.0,12420.0,nm0000041,Akira Kurosawa
871,tt0048198,I Live in Fear,1955.0,7.3,1360.0,6180.0,nm0000041,Akira Kurosawa
869,tt0050330,The Lower Depths,1957.0,7.5,1901.0,8220.0,nm0000041,Akira Kurosawa
858,tt0050613,Throne of Blood,1957.0,8.1,13559.0,6600.0,nm0000041,Akira Kurosawa
859,tt0051808,The Hidden Fortress,1958.0,8.1,12535.0,8340.0,nm0000041,Akira Kurosawa
865,tt0054460,The Bad Sleep Well,1960.0,8.0,3356.0,9060.0,nm0000041,Akira Kurosawa
856,tt0055630,Yojimbo,1961.0,8.4,33878.0,6600.0,nm0000041,Akira Kurosawa
861,tt0056443,Sanjuro,1962.0,8.1,9739.0,5760.0,nm0000041,Akira Kurosawa
863,tt0057565,High and Low,1963.0,8.3,8603.0,8520.0,nm0000041,Akira Kurosawa
864,tt0058888,Red Beard,1965.0,8.1,5747.0,11100.0,nm0000041,Akira Kurosawa
867,tt0065649,Dodes'ka-den,1970.0,7.6,2371.0,8400.0,nm0000041,Akira Kurosawa
862,tt0071411,Dersu Uzala,1975.0,8.2,9180.0,8640.0,nm0000041,Akira Kurosawa
860,tt0080979,Kagemusha,1980.0,7.9,12492.0,10800.0,nm0000041,Akira Kurosawa
855,tt0089881,Ran,1985.0,8.3,39096.0,9720.0,nm0000041,Akira Kurosawa
866,tt0101991,Rhapsody in August,1991.0,7.2,2830.0,5880.0,nm0000041,Akira Kurosawa
868,tt0107474,Madadayo,1993.0,7.4,1935.0,8040.0,nm0000041,Akira Kurosawa